extends layout

block content
  h1 Musica Nr: #{id}
  table 
    dl 
        dt 
            b Título
        dd= musica.tit 
        dt 
            b Província
        dd
            a(href="/musicas/prov/"+musica.prov)= musica.prov
        dt 
            b Local
        dd= musica.local
        dt 
            b File
        dd= musica.file
        dt 
            b Duração
        dd= musica.duracao
        
   
