extends layout

block content
  script.
      function givepath(url){
        document.getElementById('muda').src = url
      }

  h1= title
  table 
    tr 
      th
      th Nome
      th Tamanho
      th Extensão
      th Data
      th
      th
    each a in imagens
      tr 
        td
          input(type="image" src=a.path  width="40" height="40" data-toggle="modal" data-target="#myModal" onclick='givepath("'+a.path+'")')
        td
          b= a.nome
        td= a.tamanho
        td= a.extensao
        td= a.data
        td
          button(type="button" class="primary" data-toggle="modal" data-target="#myModal" onclick='givepath("'+a.path+'")') Ver
        td 
          div.actions
            button(class="secondary" onclick="window.location.href = 'http://localhost:4000/remove/"+ a.id +"'") Delete


  div(class="modal fade" id="myModal" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-body")
          img(id="muda" src="" width="300" height="300")
        div(class="modal-footer")
          button(type="button" data-dismiss="modal") Close
